*.class

# build path
build/
bin/

# gradle build path
.gradle/

# log file
*.log

# Package Files #
*.war
*.ear

# eclipse
.settings/
.classpath
.project

# IDEA
.idea/
it_hyqd.iml

# os
Thumbs.db
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
